[Unit]
Description=Postgresql Log Watcher

[Service]
WorkingDirectory=/tmp
ExecStart=java -cp /var/lib/pgsql/pglogwatcher-jar-with-dependencies.jar pglogwatcher.Main
User=postgres
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target